/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	resize: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	padding-bottom: 8cd b	0px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
.ecran{
	z-index: 655656565656565685;
	display: none;
	padding: 0;
	margin: 0;
	padding: 555555555;
	width: 100vh!important;
	position: absolute;
	top: 1;
	background:transparent;
	height: 55000vh;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	outline: none;
	border: none;

}
.unlock{
	background: grey!important;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

label:not(.label-login, .label-contact){
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1D6154;
	padding: 10px;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="radio"]:checked + label {
	color: white;
	background-color: #1D6154;
  }

  input[type="radio"]{
	display: none;
  }
.filtres-container{
	display: flex;
	align-items: center;
	gap: 10px;
	width: 80%;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: inherit;
}
#login h2{
	text-align: center;
	padding: 10px;
}

#login input[type="submit"]{
	padding: 5px;
}

#login p{
	text-align: center;
	color: red;
}

form{
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mdp-oublie{
	text-align: center;
	text-decoration: underline;
}

.portofolio-title{
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 10px;
}
.portofolio-title p{
	cursor: pointer;
	transform: translateY(-100%);
}
.edit{
	display: none;
	background: white;
	width: 800px;
	height: 650px;
	top: 50%;
	transform: translateY(-50%);
	position: fixed;
	z-index: 99999999111;
}
#iconClose{
	z-index: 9999999;
	position:absolute;
	display: inline-block;
cursor: pointer;
	top: 10px;
	right: 10px;
	width: 15px;
}
#arrow{
	z-index: 9999999;
	position:absolute;
	display: inline-block;
cursor: pointer;
	top: 10px;
	left: 10px;
	width: 15px;
}

  .overlay{
	overflow: hidden;
	
  }
  .overlay::after {
	content: "";
	position: absolute;
	background: #0000004a;
	width: 200vw;
	margin-left: -500px;
	height: 450vh;
	z-index: 54454;
	top: 0;
  }
  .edit h3{
	text-align: center;
	font-size: 1.2rem;
	margin: 25px 0 0 0;
  }
 .edit-container{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 70%;
	margin: 10px auto;
 }
 .edit-container img{
	padding: 0 5px;
 }
 .edit-container p{
	cursor: pointer;
	margin: 25px 0 0 0;
	font-size: 0.8rem;
 }
 .edit-container::after{
	content: "";
	position: absolute;
	background: #00000041;
	height: 1px;
	width: 100%;
	bottom: -20px;
	left: 0;
 }
 .edit .ajouter{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	padding: 5px;
	margin : 60px auto 0 auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
 }

 .supprimer{
	color: #D65353;
	text-align: center;
 }


 #premium{
	display: none;
 }
 .ajoutPhoto{
	background: #e8f1f6;
	width: 100%;
	margin: 15px auto 5px auto;
	padding: 100px 0;
	position: relative;
 }
.edit label{
	border: inherit;
	text-align: left;
	color: inherit;
	font-family: inherit;
	padding: 10px 0;
	margin: 5px 0 0 0;
}

.edit form input, .edit form select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	
	
}

 .edit form input:focus, .edit form select:focus{
	outline: 1px solid rgba(0, 0, 0, 0.566);
}
.format{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%)!important;
}
.btn-photo{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%)!important;
	width: min-content;
	white-space: nowrap;
	color: #1D6154!important;
	background: rgba(109, 123, 109, 0.32)!important;
	padding: 10px 40px;
	text-align: center!important;
	border-radius: 30px;
	cursor: pointer;
}
.ajoutPhoto p{
	margin:0 auto;
	width: min-content;
	white-space: nowrap;
}

.galery-photo{
	
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.galery-photo i {
	font-size: 4rem;
	color: rgba(128, 128, 128, 0.628);
}
.card-edit{
	position: relative;
}
.card-edit div{
	top: 3px;
	right: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background: #000;
	width: 30px;
	border-radius: 10px;
	height: 30px;
}
.supp-img{
	width: 15px;
	cursor: pointer;
}